
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HomePage.menu-title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ "LOGOUT_TITLE" | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ng-template #noDataTemplate>
   <ion-progress-bar type="indeterminate"></ion-progress-bar>
   <div class="ion-text-center"><h2>{{ 'WELCOME_TITLE' | translate }}  </h2></div>
  </ng-template>

</ion-header>

 <ion-content>

    <div *ngIf="activeExams; else noDataTemplate">
          <div class="ion-text-center"> <h2>{{ 'HomePage.greeting' | translate:params}}  </h2>
            <!-- {{userInfo?.name}} -->
          <h3> {{ 'HomePage.Title_2' | translate }} </h3> </div>

            <ion-card *ngFor="let exam of activeExams" color="light" button (click)="startExam(exam.id)">
              <ion-card-content class="ion-text-center">
                  {{exam.name}}
              </ion-card-content>
            </ion-card>
    </div>

</ion-content> 
