<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>AttendedExams</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="dashboardData; else noDataTemplate">
    <ion-text class="ion-text-center">
    <h1> Attended Exam Details</h1>
    </ion-text>
    <h4>*click on the exam to see the corresponding details for further analysis</h4><br><br>

<div style="overflow-x:auto;">

                      <mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort >
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" >   </tr>    
                        
                        <ng-container matColumnDef="index">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No  </th>
                          <td mat-cell *matCellDef="let element,let i = index;"> {{i+1}}  </td>
                        </ng-container>

                        <ng-container matColumnDef="examName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> ExamName  </th>
                           <td mat-cell *matCellDef="let element"><a  (click)="examHistory(element.examId)" class="mat-row-link"> {{element.examName}} </a> </td>
                        </ng-container>

                        <ng-container matColumnDef="score">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> score </th>
                          <td mat-cell *matCellDef="let element"> {{element.score}} / {{element.total}} </td>
                        </ng-container>

                        <ng-container matColumnDef="percentage">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Percentage  </th>
                       <td mat-cell *matCellDef="let element"> {{element.percentage}}  </td>
                        </ng-container>

                        <ng-container matColumnDef="result">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Result  </th>
                          <td mat-cell *matCellDef="let element"> 
                            <ion-text [color]="(element.result) ? 'success' : 'danger'">
                              {{element.result ==true? 'passed' :'failed'}}</ion-text>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="dateTime">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> DateTime  </th>
                          <td mat-cell *matCellDef="let element"> {{element.dateTime}}  </td>
                        </ng-container>

                      </mat-table>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 20,50]"
                      showFirstLastButtons
></mat-paginator>
                    </div>
                  </div>

                  <mat-card *ngIf="isLoading" 
                 style="display: flex; justify-content: center; align-items: center">
                 <mat-progress-spinner 
                  color="primary" 
                   mode="indeterminate">
                  </mat-progress-spinner>
                  </mat-card>

                  <ng-template #noDataTemplate>
                    <div  *ngIf="!isEmpty">
                      <ion-text color="medium" class="ion-text-center">
                     <h1> No attended exam yet!!! </h1>
                      </ion-text>
                      </div>
                  </ng-template>
                   
</ion-content>
