<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/exam"></ion-back-button>
    </ion-buttons>
    <ion-title>exam start</ion-title>
  </ion-toolbar>
  <ng-template #noDataTemplate>
   <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-header>

<ion-content class="ion-text-center">
  <h2>instructions for candidates</h2>
 <ol>
  <li> No other electronic devices are allowed for assistance</li>
  <li> Paper is provided for rough working.</li>
  <li> All exam scripts are collected at the end</li>
 <li> under no circumstances can anything leave the exam room.</li>
 </ol>
 <ion-button (click)="examPage()" expand="block" fill="clear" shape="round">
  start
 </ion-button>

</ion-content>
