<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <h2 *ngIf="isAuthenticated()" text-center>User is logged in!</h2>
<h2 *ngIf="!isAuthenticated()" text-center>User is not logged in!</h2> -->



<!-- <p *ngIf="data"> yes you have datas!!</p>   -->
<!--     
<ion-item *ngFor="let d of data">
 {{d.firstName}} {{d.lastName}}
</ion-item> -->
<ion-card>
<ion-card-content>
 <p>FirstName  : {{data?.firstName}} </p>
 <p>LastName   : {{data?.lastName}}</p>
<p> Email      : {{data?.email}}</p>
 <p>RegisterId : {{data?.id}}</p>

</ion-card-content>
</ion-card>
</ion-content>