<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-button  color="secondary"  (click)="users()">dispalyuser</ion-button>

  <form>
    <h4 text-center margin-top>Insert your credentials welcome {{username}}</h4>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" (change)="print($event)" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signIn()">Sign In</ion-button>
        <a class="small-text">Forgot Password?</a>
       <p ><a  class="small-text">Register Here..!</a></p>
      </ion-col>
    </ion-row>
  
  </form>

<!-- 
<ion-content> -->

  <ion-card>
    <ion-card-header>hi</ion-card-header></ion-card>
    <p *ngIf="data"> yes you have datas!!</p>
<ion-card *ngFor="let d of data">

  <ion-card-header>
    <ion-card-subtitle>mock</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Details
    <p>
     {{d.firstName}} {{d.lastName}}
      
    </p>
   

  </ion-card-content>
</ion-card>
<router-outlet></router-outlet>
</ion-content>


