<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi@MockApp.com</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = Home">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-content>
      </ion-menu>
      </ion-split-pane> -->

      


<!-- <ion-content [fullscreen]="true" padding>

  <ion-button  color="secondary"  (click)="users()">dispalyuser</ion-button>

  <form>
    <h4 text-center margin-top>Insert your credentials</h4>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signIn()">Sign In</ion-button>
        <a class="small-text">Forgot Password?</a>
       <p ><a  class="small-text">Register Here..!</a></p>
      </ion-col>
    </ion-row>
  
  </form> -->


<ion-content>
  <ion-button  color="secondary"  (click)="users()">dispalyuser</ion-button>
  <ion-card>
    <ion-card-header>hi</ion-card-header></ion-card>
<ion-card *ngFor="let data of data?.articles">

  <ion-card-header>
    <ion-card-subtitle>mock</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Details
    <p>
     1st- {{user.firstName}}
     last- {{user.lastName}}
      
    </p>
   

  </ion-card-content>
</ion-card>

</ion-content>


