

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>AttendExamDetails</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" (click)="presentPopover($event)"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="caret-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->


  <div  *ngIf="attendedExamData ;else noExamDataFoundTemplate ">
    <ion-card>   
      <ion-card-content>
        {{attendedExamData?.exam?.name}}
      </ion-card-content>
    </ion-card>
    </div>
    
      <ng-template #noExamDataFoundTemplate>
        
        <ion-card  color="light">
          currently there is no data!
        </ion-card>
        <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
      </div> -->
        
      </ng-template>

    <div>


*click on the username to see the corresponding details for further analysis</div><br><br>
<!-- <div style="overflow-x:auto;">
  
         				  <table  width=95% border=3px style="font-size: 100%">
							    <thead>
							        <tr>
							            <th> Sl.No. </th>
							            <th > Users </th>
							            <th> Score </th>
							              <th> Percentage </th>
							              <th> Result </th>
                            <th>  Date & Time </th>
                          
							          </tr>
                                  </thead>
                                  <tbody>
                                    
                                    <tr  *ngFor="let data of attendedExamData?.attendList ,index as i;">
                                     <td>{{i+1}}</td> 
                                   <td> 
                                     <a  (click)="examHistory(attendedExamData?.exam?.id,data?.userExtra?.user?.id)">
                                       {{data?.userExtra?.user?.login}}</a></td>
                                     <td>{{data?.score}} / {{data?.total}}</td>
                                     <td>{{data?.percentage}}</td>
                                      <td>{{data?.result ==true? 'passed' :'failed'}}</td>
                                    <td>{{data?.dateTime}}</td>
                                    
                                    </tbody>
                   </table></div> -->

                   <mat-table [dataSource]="dataSource" class="mat-elevation-z8" color="light" matSort >
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" >                      
                    </mat-row>
                    <ng-container matColumnDef="sl.no">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.sl.no}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="user">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="score">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> score </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="percentage">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.percentage}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="result">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Result </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dateTime">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> DateTime </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.dateTime}} </mat-cell>
                    </ng-container>
                   </mat-table>
</ion-content>
