<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }} To MockTest
    </ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="bg"></span>
  <div >
    
    <ion-button expand="block" routerLink="/login" id="signIn">{{ 'LOGIN' | translate }}</ion-button>

    <p class="ion-text-center">{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>
    <ion-button expand="block" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button>
  </div>
</ion-content>
