<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/exam"></ion-back-button>
    </ion-buttons> -->
   <ion-icon slot="end" name="close-circle" color="danger" style="zoom:3.0;" (click)="dismiss()"></ion-icon>
    <ion-title>Create Exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card >
     <h1 class="ion-text-center" color="tertiary">Exam Creation</h1>
      <div class="container">
        <div class="row">
          <div class="offset-3"></div>
           <div class="col-md-6" *ngIf="createExamForm">
             <form [formGroup]="createExamForm">
              <ion-item>
                <ion-label position="floating">Enter the Name </ion-label>
                <ion-input
                         autocomplete="on" 
                         type="text" 
                         formControlName="name"
                         required>
                </ion-input>
                <p class="error">{{createExamForm.controls.name['errorMessage']}}</p>
           </ion-item> 
           <ion-item>
            <ion-label position="floating">No. of questions </ion-label>
            <ion-input
                     autocomplete="on" 
                     type="text" 
                     formControlName="count"
                     required>
            </ion-input>
            <p class="error">{{createExamForm.controls.count['errorMessage']}}</p>
       </ion-item> 
       <ion-item>
        <ion-label>level</ion-label>
         <ion-select formControlName ="level">
           <ion-select-option *ngFor="let level of allLevels" [value]="level">{{level}}</ion-select-option>
         </ion-select>
         <p class="error">{{createExamForm.controls.level['errorMessage']}}</p>
       </ion-item>
       <ion-item>
        <ion-label>Time</ion-label>
         <ion-input formControlName ="hour" placeholder="hour" type="number"></ion-input>
    
         <ion-input formControlName ="minute" placeholder="minute" type="number"></ion-input>
         <p class="error">{{createExamForm.controls.minute['errorMessage']}}</p>
        </ion-item>
       <ion-button expand="block" [disabled]="(!createExamForm.valid)" share="round" color="secondary" (click)="createExam()">Create</ion-button>
             </form>
           </div>
             
            <div class="offset-3"></div></div></div>  
    </ion-card>
</ion-content>
