<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ExamPage</ion-title>
  </ion-toolbar>
  <ng-template #noExamDataFoundTemplate>
   <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-header>

<ion-content>

  <div  *ngIf="examData ;else noExamDataFoundTemplate ">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()" color="medium">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button></ion-fab>

    <ion-text color="tertiary" class="ion-text-center">
      <h2>All exams in database!</h2>
    </ion-text> 
  <ion-card *ngFor="let data of examData" color="light" button (click)="examDetaills(data.id)">
    <ion-card-content class="ion-text-center">
      <h1>  {{data.name}} </h1>
      <h2>Level: {{data.level}}</h2>
      <h3>Status: {{data.isActive==true ? 'Active' : 'Not_Active'}}</h3>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
