<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" th:href="#">Lxi Technologies</a>
  		<a  th:href="@{/index}">Home</a>
  		<a th:href="@{/login}">Login</a>
  		<a th:href="@{/register}">Register</a>
  			<!-- <div class="search-container">
    			<form action="/action_page.php">
      				<input type="text" placeholder="Search.." name="search">
     			 	<button type="submit">Submit</button>
    			</form>
 			</div> -->
		</div>
</div>
	
</body>
</html>