<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<div align="center">
	<h1>HELLO ADMIN</h1>
	</div>
	<div align="right"><a th:href="@{/logoutpage}">logout</a></div>
	<div align="center">
	<a th:href="@{/question}"><button>Create Question</button></a>
		<a th:href="@{/viewall_qstn}"><button>all questions</button></a>
	<a th:href="@{/create_exam}"><button>Create Exam</button></a>
	<a th:href="@{/Displaysets}"><button>Question papers</button></a>
	</div>
	
</body>
</html>