<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
<meta charset="ISO-8859-1">
<title>Graphical Performance of Candidates</title>

</head>
<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		
  		<a  th:href="@{/}">Home</a>
  		<!--  <a  th:href="@{/exam_attended}">back</a> -->
  		<a class="logout" th:href="@{/logoutpage}">logout</a></div>
  </div>

                                <h3 th:text=" 'Performance of candidate in '+${exam.getName()}"> </h3>
                               <h5  th:text="'Total Mark: '+${exam.getCount()}"></span></h5>
<div id="container" style="height: 400px"></div>
	

	
	<script  th:inline="javascript" >
		Highcharts.chart('container', {
		    chart: {
		        type: 'line',
		        width: 500
		    },
		    
		    title: {
		        text: 'Candidate Performance '
		    },
		
		    xAxis: {
		    	
		        categories: [[${users}]]
		    },
		    yAxis: {
		        title: {
		          text: 'Scores achieved by candidates'
		        }
		      },
		    tooltip: {
		        formatter: function() {
		          return '<strong>'+this.x+': </strong>'+ this.y;
		        }
		    },
		
		    series: [{
		        data:  [[${scores}]]
		    }]
		});
	}

	}</script>
</body>
</html>