<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
<meta charset="ISO-8859-1">
<title>create exam</title>
</head>
<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		
  		<a  th:href="@{/}">Home</a>
  		<a class="logout" th:href="@{/logoutpage}">logout</a></div>
  </div>




<div align="center">
   <h3>Exam Creation </h3>
</div>

<div class="container">


		<form  th:action="@{/app/save_exam}" th:object="${exam}" >
			
					<label for="name">Enter name of this exam:</label>
					<input type="text" th:field="*{name}"  class="input button2 lengthbtn"  /><br>
				
					<label for="num">Enter no. of questions needed:</label>
					<input type="text" th:field="*{count}"  class="input button2 lengthbtn"  /><br>
					
					<label for="level">Level:</label>
					<select name="level" th:field="*{level}"  class="select button2 lengthbtn"  >
							<option th:value="beginner">Beginner Level</option>
							<option th:value="intermediate">Intermediate Level</option>
							<option th:value="expert">Expert Level</option>
					</select><br>
				 	
					<label for="time">Time:</label>
					<!-- <input type="time"  name="time"  class="input button2 lengthbtn" /> -->
					Hour:<select name="hour"  >
    				<option th:each="i : ${#numbers.sequence(0, 12)}" th:value="${i}" th:text="${i}" ></option>
					</select>
					Minute:<select	name="minute" >
    				<option th:each="i : ${#numbers.sequence(0, 60)}" th:value="${i}" th:text="${i}" th:selected="${i}"></option>
					</select>
				
			
			<div align="center"><input type="submit" value="Submit"  class="button button1" onclick="alert_creation()" />
			</div>
		</form>
	</div>
</body>

<script >
function alert_creation()
{
	alert("Exam created");
}
</script>
</html>