<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
<meta charset="ISO-8859-1">
<title>Question creation</title>
</head>
<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		
  		<a  th:href="@{/}">Home</a>
  		<a class="logout" th:href="@{/logoutpage}">logout</a></div>
  </div>

<div align="center">
   <h2>Question Creation</h2>
</div>
<div align="center">

<form action="/question_file" enctype="multipart/form-data" method="post">
<h4>import csv file:&nbsp;<input type="file" name="file"></h4>	
	<input type="submit" value="import">
</form>
</div>
<br>
<div class="container">
<form  th:object="${question}" >

            	
            	Level
				<select name="level" class="select button2 lengthbtn" th:field="*{level}" >
					<option th:value="beginner">Beginner</option>
					<option th:value="intermediate">Intermediate</option>
					<option th:value="expert">Expert</option>
				</select>
        		Question
        		<input type="text" class="input button2 lengthbtn" placeholder="Enter Question.." th:field="*{qstn}" />
        		 <!-- <td><font color="red"> <span  th:if="${#fields.hasErrors('question.qstn')}" th:errors="${question.qstn}"></span></font></td></tr> -->
        		Option1
        		<input type="text" class="input button2 lengthbtn" placeholder="Enter your option.." th:name="opt1" />
        		 <!-- <td><font color="red"> <span  th:if="${#fields.hasErrors('optionList.OptionName')}" th:errors="${optionList.OptionName}"></span></font></td> --></tr>
        		
        		Option2
        		<input type="text" class="input button2 lengthbtn" placeholder="Enter your option.." th:name="opt2"  />
        		<!-- <td><font color="red"> <span  th:if="${#fields.hasErrors('optionList.OptionName')}" th:errors="${optionList.OptionName}"></span></font></td> --></tr>
        		
        		Option3
        		<input type="text" class="input button2 lengthbtn" placeholder="Enter your option.." th:name="opt3" />
        		
        		<!--  <td><font color="red"> <span  th:if="${#fields.hasErrors('optionList.OptionName')}" th:errors="${optionList.OptionName}"></span></font></td> --></tr>
        	
<div align="center">

        	<input type="submit" class="button button1 " value="Add" onclick="alert_func()" formaction="/add_question?'qid=question.getId();'"/>
        	<input type="submit" class="button button1 " value="Add More" formaction="/addmore_question">
        	
</div>
</form> 
<br>
**format of file- question, level(beginner/intermediate/expert), option1, option2, option3
**do not insert heading in the csv file 

<script>
function alert_func() {
  alert("Successfully Created");
}
</script>

</body>
</html>