<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>exam analysis</title>

</head>
<body>
	<form>
		<div align="center">
		<input type="submit" value="Back to Home" formaction="/">
			<h3>Current exams in database</h3>
		</div>
	</form>
	
	<div align="center">
		<table >
			<tr th:if="${exams.empty}" align="center">
				<td colspan="1">No Exams Available</td>
			</tr>
			<tr align="center" th:each="exam: ${exams}">
				<td>
					<span>
						<a th:href="@{/selectExam(eId=${exam.id})}">
							<h3 th:text="${exam.name}">exam</h3>
						</a>
					</span>
				</td>
			</tr>
		</table>

	</div>
</body>
</html>