<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>mock sample view</title>
</head>
<body>
<form action="#" th:action="@{/submit}"  method='POST'>
  Which of the following is not OOPS concept in Java?<br>
<input type="radio" name="a" /> a) Inheritance <br>
<input type="radio" name="b" /> b) Encapsulation <br>
<input type="radio" name="c" /> c)Polymorphism<br>
<input type="radio" name="r" /> d)Compilation <br>
  <input name="submit" type="submit" value="submit test" />
</form>
</body>
</html>