<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
    <title>User Registration Page</title>
    
</head>
<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		
  		<a  th:href="@{/}">Home</a>
  		<a class="logout" th:href="@{/logoutpage}">logout</a></div>
  </div>




<div align="center">
    <h3>Registration Form </h3>
</div>

<div class="container">


<form  th:action="@{/save}" th:object="${user}" >

            	<label>First Name</label>
            	<input type="text" th:field="*{firstName}" placeholder="Enter your FirstName" class="input button2 lengthbtn"/>
     			 <font color="red"> <span  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> </span></font>
     			 
     			  <label>Last Name</label></td><td><input type="text" placeholder="Enter your LastName" th:field="*{lastName}" class="input button2 lengthbtn"/>
     			  <font color="red"> <span  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> </span></font>
     			  
        		<label>E-Mail</label>
        		<input type="text" th:field="*{email}" placeholder="Enter your E-mail" class="input button2 lengthbtn"/>
        		<font color="red"><span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></font>
        		
        		<label>UserName</label>
        		<input type="text" th:field="*{login}" placeholder="Enter your UserName" class="input button2 lengthbtn"/>
        		<font color="red"><span  th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span></font>
        		
        		<label>Password</label>
        		<input type="password" th:field="*{password}"  placeholder="Enter your Password"class="input button2 lengthbtn" />
        		<font color="red"> <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></font></td></tr>
        		
        		<!-- <label>Confirm Password</label></td><td><input type="password" name="cpw" />
        		<font color="red"><span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></font> -->
        		
        		<div align="center"><button type="submit" class="button button1 " onclick="alert_creation()">Sign up</button></div>
        		 			
</form> 


</div>
<script >
function alert_creation()
{
	alert("You are Successfully Registered!");
}
</script>
</body>
</html>