<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>setTimer page</title>
</head>
<body>
Timer page

<form action="#" th:action="@{/setTime}" th:object="${timer}" method='POST'>
        <table>
            <tr>
                <td>Hour :</td>
                <td>
                   <select name="hour" th:field="*{hour}" >
    				<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" ></option>
					</select>
                </td>
            </tr>
            <br><br>
         <tr>
                <td>minute :</td>
                <td>
                   <select	name="minute" th:field="*{minute}" >
    				<option th:each="i : ${#numbers.sequence(1, 60)}" th:value="${i}" th:text="${i}" th:selected="${i}"></option>
					</select>
                </td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
        
    </form>
</body>
</html>