<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>user result</title>
</head>
<body>
		<form>
		<div align="center">
		<input type="submit" value="Back to Home" formaction="/">
		</div>
		</form>
<div align="center"><h2>mark sheet of &nbsp;<span th:text="${username}"></span></h2>

	<div align="right">
		<a th:href="@{/logoutpage}"><button>logout</button></a>
	</div>
<div>
<table width=50% th:object="${attendedExam}">
	<tr>
		<th>score</th>
		<th>total</th>
		<th>percentage</th>
		<th>result</th>
	</tr>
        <tr align="center">
        	<td th:text="${attendedExam.getScore()}"></td>
        	<td th:text="${attendedExam.total}"></td>
        	<td th:text="${attendedExam.percentage}"></td>
        	<td th:text="${attendedExam.result}==true? pass:fail"></td>
        </tr>
</table>
</div>
<!-- <h2 th:if="${count>=2}"><p th:text="you pass the test"></p></h2>
    <span th:unless="${count<2}" >you failed!</span> -->
</div>
</body>
</html>