<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration Page</title>
</head>
<body>
<div align="center">
   <h1>Registration </h1>
</div>
<div align="center">
<form action="save" method="post">  
<table>  
<tr>  
<td><label for="user-name">User Name</label></td>  
<td><input type="text" name="name"></input></td>  
 </tr>  
<tr>  
<td><label for="email">Email</label></td>  
<td><input type="text" name="email"></input></td>  
</tr>  

<tr>  
<td><label for="password">Password</label></td>  
<td><input type="password" name="password"></input></td>  
</tr> 

<tr>  
<td><label for="re-password">confirm password</label></td>  
<td><input type="password" name="cpw"></input></td>  
</tr> 

<tr>  
<td></td>  
<td><input type="submit" value="Submit"></input></td>  
</tr>  
</table>  
</form> 

</div>
</body>
</html>