<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
<meta charset="ISO-8859-1">
<title>user detail</title>
</head>
<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		
  		<a  th:href="@{/}">Home</a>
  		<a class="logout" th:href="@{/logoutpage}">logout</a></div>
  </div>

<div align="center">
  <!--  <h3>Current exams in database</h3> -->
</div>
<div align="center">
	<div class="container">
	
	<a th:href="@{/all_users}"><button class="button button1 lengthbtn">All users</button></a> 
	<a th:href="@{/exam_performance}"><button class="button button1 lengthbtn">User wise performance</button></a> 
	
	<a th:href="@{/user_performance}"><button class="button button1 lengthbtn">Exam wise performance</button></a> 
	<a th:href="@{/exam_performance}"><button class="button button1 lengthbtn">User wise performance</button></a> 
	
</body>
</html>