<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>mock test </title>
</head>
<body>
<div align="center">
		<h1 th:text="${exam.getExam_name()} "> exam name</h1>
		Time:- <span th:text="${exam.getTime_hr()} "></span>hr <span
			th:text="${exam.getTime_min()} "></span>min<br> 
			Level:- <span th:text="${exam.getLevel()} ">level</span><br>&nbsp;&nbsp; 
	</div>
	
<form th:action="@{/user_view}">
		<div th:if="${questions.empty}">
            No Questions Available
        </div>
        
		<div th:each="qstn ,stat : ${questions}" >
			<!--  <span th:text="${iterator.index+1}" > Sl.No. </span> -->
			<span th:text="${qstn.getQstn()}" th:value="${qstn.id}"> question </span><br>
			<input type="radio"  th:name="${qstn.id}" th:value="${qstn.option1}" th:text="${qstn.option1}"/>
			<input type="radio" th:name="${qstn.id}" th:value="${qstn.option1}" th:text="${qstn.option2}" />
			<input type="radio" th:name="${qstn.id}" th:value="${qstn.option1}" th:text="${qstn.option3}"/>
			
		 </div>
		 <input type="submit" value="next">
</form>
</body>
</html>


      