<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>mock test</title>
</head>
<body>
	<div align="center">
		<h1 th:text="${exam.getExam_name()} ">exam name</h1>
		Time:- <span th:text="${exam.getTime_hr()} "></span>hr <span
			th:text="${exam.getTime_min()} "></span>min<br> Level:- <span
			th:text="${exam.getLevel()} ">level</span><br>&nbsp;&nbsp;
	</div>
	
	<form th:action="@{/user_nextPage}" th:object="${exam}">
		<div align="right">
			<span th:if="${iterator.hasNext()}">
				<button>
					<a th:href="@{/user_nextPage(index=${iterator.nextIndex()})}">
						next </a>
				</button>
			</span>
		</div>
	</form>

	<form th:action="@{/user_previousPage}" th:object="${exam}">
		<div align="right">
			<span th:if="${iterator.hasPrevious()}">
				<button>
					<a
						th:href="@{/user_previousPage(index=${iterator.previousIndex()})}">
						previous </a>
				</button>
				<p th:text="${iterator.previousIndex()}">
			</span>
		</div>
	</form>
	<form th:action="@{/user_exam}" th:object="${iterator}">
		<div>
			<span th:text="${question.getQstn()}" th:value="${question.id}">
				question </span><br> <span th:each="option : ${question.options}">

				<input type="radio" th:name="option" th:value="${option}"
				th:text="${option.opt}" />
			</span>
		</div>
		<!-- <input type="hidden" th:name="qstn_itr" th:value="${iterator.nextIndex()}"> -->
		<!-- <input type="hidden" th:name="qstn_id" th:value="${iterator.next().id}"> -->
		<input type="submit" th:formaction="@{/user_nextPage(index=${iterator.nextIndex()})}" th:value="next">
		<button th:if="!${iterator.hasNext()}" type="submit">submit</button>
	</form>



	<!-- <button><a th:href="@{/user_nextPage(lit=${iterator.next()})}">next</a></button> -->
	<!-- <div th:each="ans ,stat : ${answers}" >
 		<span th:text="${stat.index+1}+') '" > Sl.No. </span>
		<span th:text="${ans}" > question </span><br>
</div> -->
</body>


</html>