<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>mock test </title>
</head>
<body background="">

<form action="#" th:action="@{/submit}"  method='POST'>
	<h1><font color="">question</font></h1>
	<div>
	<h3><font color="">
	<br><input type="radio" name="option" value="A">A
	<br><input type="radio" name="option" value="B">B
	<br><input type="radio" name="option" value="C">C
	<br><input type="radio" name="option" value="D">D
	<br><input type="submit" value="next">
	</font>
	</h3>
	</div>
	</form>

</body>
</html>