<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>user detail</title>
</head>
<body>
	<div align="center">
	<a th:href="@{/all_users}"><button>all users</button></a> 
	<a th:href="@{/exam_performance}"><button>user wise performance</button></a> 
	</div>
	<div align="center">
	<a th:href="@{/user_performance}"><button>exam wise performance</button></a> 
	<a th:href="@{/exam_performance}"><button>user wise performance</button></a> 
	</div>
</body>
</html>