<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>start page</title>
<script> 
var deadline = new Date("mar 20, 2020 5:15:25").getTime(); 
var x = setInterval(function() { 
var now = new Date().getTime(); 
var t = deadline - now; 
var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
var seconds = Math.floor((t % (1000 * 60)) / 1000); 
document.getElementById("demo").innerHTML = days + "d "  
+ hours + "h " + minutes + "m " + seconds + "s "; 
    if (t < 0) { 
        clearInterval(x); 
        document.getElementById("demo").innerHTML = "TIME OUT"; 
    } 
}, 1000); 
</script>	
</head>
<body>
<div align="center">
<!-- Time:- <span th:text="${exam.getTime_hr()} "></span>hr <span
			th:text="${exam.getTime_min()} "></span>min<br> --> 
			
			<div class="container" align="center">
					Select your Test!
						
						<br>
						<br>
						 <span th:each="exam: ${exam_list}"> 
						 
						 <button>
						 <a th:href="@{/user_instruction(eId=${exam.getId()})}" >
						 <span th:text="${exam.getName()}"></span>
						 </a></button><br><br>
						 
						 <!-- <select name="active_exam" > -->
							<!-- <option th:value="${exam.getName()}"><span th:text="${exam.getName()}"> </span></option> -->
							
						
	
		</span>
		<div align="right"><button><a th:href="@{/logoutpage}">logout</a></button></div>
		</div>



</body>  
</html>