<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"> -->
<title>instructions</title>
</head>
<body>
<div align ="center"><h1>HELLO USER</h1>
</div>
<div align ="center">
<h3>INSTRUCTIONS TO CANDIDATES</h3>
<h4>No other electronic devices are allowed for assistance.<br>
 Paper is provided for rough working.<br> This and all exam scripts are collected at the end
  –under no circumstances can anything leave the exam room.</h4>
  <form action="/user_startpage" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('You must agree to the Terms and Conditions'); return false; }">

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have read the instructions and agree to the Terms and Conditions
<br><br>
<input type="submit" name="submit" value="submit" />

</form>
</div>
<div align="right"><button><a th:href="@{/logoutpage}">logout</a></button></div>
</body>
</html>