<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>mock test </title>
</head>
<body background="">

<form action="#" th:action="@{/submit}" th:object="${questions}">
<div>
	<span th:text="*{qstn}"> question </span>
	<input type="radio"  name="option" value="*{option1}" th:field="*{option1}"  ><span th:text="*{option1}"> </span>
	<!-- <input type="radio" name="option2" value="*{option2}" th:field="*{option2}">
	<input type="radio" name="option3" value="*{option3}" th:field="*{option3}">
	<br><input type="radio" name="option" value="B">B
	<br><input type="radio" name="option" value="C">C
	<br><input type="radio" name="option" value="D">D -->
	<br><input type="submit" value="next">
	</div>
	</form>

</body>
</html>