<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
<meta charset="ISO-8859-1">
<title>All Questions</title>

</head>

<body bgcolor="FloralWhite">
<div class="header">
	<h2>MockTest Application</h2>
	<div class="topnav">
		<a class="active" >Lxi Technologies</a>
  		<a  th:href="@{/}">Home</a>
  		<a  th:href="@{/create_question}">Add Question</a>
  		

<form th:action="@{/filter}">
	<span th:each="qstn: ${questions}"></span>
	<select name="level" class="select1 button2">
	<option type="text" value="--select--" >--select--</option>
	<option type="text" name="Beginner" >Beginner</option>
	<option type="text" name="Intermediate">Intermediate </option>
	<option type="text" name="Expert" >Expert </option>
	</select>
	<input type="submit" class="button button1" value="filter"> 
	<input type="text" class="input button2" id="search" th:name="searchQstn"/> 
	<input type="submit" class="button button1" value="Search here" formaction="/searchQstn">

<a class="logout" th:href="@{/logoutpage}">logout</a></form></div></div>

<div align="center">
<h3><u>All Question in Database</u></h3>

</div>


<table width=100% border=5px>
    <thead>
        <tr>
            <th> Sl.No. </th>
            <th> Question </th>
            <th> Option1 </th>
             <th> Option2 </th>
              <th> Option3 </th>
             
              <th colspan="3"> Answer </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${questions.empty}" align="center">
            <td colspan="6"> No Questions Available </td>
        </tr>
        
        <tr th:each="qstn ,iterator : ${questions}" align="center">
        <td th:text="${iterator.index+1}" > Sl.No. </td>
            <td th:text="${qstn.getQstn()}"> Question </td>
            <td th:each="q_option : ${qstn.qstnOptions}">
            	<span th:text="${q_option.option}">option</span><br>
            	<a th:href="@{/set_Answer(opt_Id=${q_option.getId()},qstn_id=${qstn.getId()})}">
            	Set <span th:text="!${q_option.isIsAnswer()}"></span></a></td></span>
            	
            <span th:each="q_option : ${qstn.qstnOptions}">
            <span th:if="${q_option.isIsAnswer() == true}">
           	<td th:text="${q_option.option}">,</td></span>
           <!-- 	<td><a th:href="@{/deleteQuestion(qId=${qstn.getId()},opt_Id=${q_option.getId()})}">Delete</a></td> -->
           </span>
        </tr>
    </tbody>

	</table>
	</div>
	
<!--  <script>


    $(document).ready(function() {

      $('#search').autocomplete({
          serviceUrl: '/searchQstn',
          paramName: 'searchQstn',
          minChars: 1,
          autoSelectFirst: true,
      });

    });
 -->

  </script>
</body>
</html>