<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Questions</title>
</head>
<body>
<div align="center">
<h3><u>All Question in Database</u></h3>
</div>
<table width=100%>
    <thead>
        <tr>
            <th> Sl.No. </th>
            <th> Question </th>
            <th> Option1 </th>
             <th> Option2 </th>
              <th> Option3 </th>
             <th> Answer </th>
              <th> Level </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${questions.empty}">
            <td colspan="7"> No Questions Available </td>
        </tr>
        <tr th:each="qstn ,iterator : ${questions}" >
        <td th:text="${iterator.index+1}" > Sl.No. </td>
            <td th:text="${qstn.getQstn()}"> Question </td>
            <td th:each="option : ${qstn.options}">
            	<div th:text="${option.opt}">option</div>
            </td>
            <td th:text="${qstn.getLevel()}"> Level </td>
        </tr>
    </tbody>
</table>
</body>
</html>